@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode */
  --light-text: #222430;
  --light-bg: floralwhite;
  --light-theme: #d34a97;
  --light-switch-shadow: #373d4e;
  --light-switch-icon: "🌚";
  --light-switch-text: "dark mode?";

  /* Dark mode */
  --dark-text: floralwhite;
  --dark-bg: #252835;
  --dark-theme: #bd93f9;
  --dark-switch-shadow: #fce477;
  --dark-switch-icon: "🌝";
  --dark-switch-text: "light mode?";

  /* Default mode */
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --theme-color: var(--light-theme);
  --switch-shadow-color: var(--light-switch-shadow);
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--bg-color);
  color: var(--text-color);

  --switch-shadow-color: var(--light-switch-shadow);
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);
}

#theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.switch-label::before {
  content: var(--switch-icon);
  font-size: 20px;
  transition: text-shadow 0.2s;
  line-height: 1;
  margin-right: 0.25rem;
}

.switch-label::after {
  content: var(--switch-text);
  color: var(--switch-shadow-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #eee2ca;
}

.dark {
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --theme-color: var(--light-theme);

  --switch-shadow-color: var(--dark-switch-shadow);
  --switch-icon: var(--dark-switch-icon);
  --switch-text: var(--dark-switch-text);
}

.dark .switch-label::before,
.switch-label:hover::before {
  text-shadow: 0 0 15px var(--switch-shadow-color);
}

.dark img {
  filter: brightness(0.8) contrast(1.2);
}

img {
  width: 100%;
  height: auto;
}

.card {
  background-image: linear-gradient(to bottom, #eee2ca, #fffaf0);
}

.dark .card {
  background-image: linear-gradient(to bottom, rgb(15 23 42), #252835);
}

@media (prefers-color-scheme: dark) {
  label[for="theme-switch"] {
    display: none;
  }
  html {
    color-scheme: dark;
  }
  body {
    background: var(--dark-bg);
    color: var(--dark-text);
  }

  header {
    background-color: rgb(15 23 42);
  }

  img {
    filter: brightness(0.8) contrast(1.2);
  }

  .card {
    background-image: linear-gradient(to bottom, rgb(15 23 42), #252835);
  }
}
