.container {
  display: flex;
  width: min(100% - 2rem, 1180px);
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 12px;
  line-height: 1.2;
  font-family: system-ui;
  text-align: center;
}

.logo span::before {
  content: "<Handson />";
  font-family: monospace;
  font-size: 30px;
  display: block;
}
