.container {
  margin: 1rem auto;
  width: min(100% - 2rem, 500px);
  position: relative;
}

.input {
  width: 100%;
  padding: 0.75rem 2rem;
  border: 2px solid #0f7b2a;
  border-radius: 0.5rem;
}

.button {
  position: absolute;
  inset: 0.9rem 1rem auto auto;
  color: #a07012;
}
.input:hover,
.input:active {
  border: 2px solid #087322;
  outline: none;
}
